* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo passado no exercício do slide 01 pag 10 e 11 */
#services {
    background-color: #e2e2e2;
    margin: 20px 0;
}

.service {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilos para a página principal dos conteudos do site */
/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #0056b3;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header h3 {
    margin: 5px 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#texto, #curiosidades {
    margin-bottom: 40px;
}

.paragrafo {
    margin: 10px 0;
    line-height: 1.6;
}

strong {
    color: #007BFF;
}

h6.paragrafo {
    color: #555;
    font-style: italic;
}

.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-field {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

ul#list {
    list-style-type: none;
    padding: 0;
}

ul#list li {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

ul#list li:hover {
    background-color: #0056b3;
}

.table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.head-title-table{
    font-size: 20px;
    color: #333;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.student-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.student-table th,
.student-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.student-table th {
    background-color: #007BFF;
    color: #fff;
}

.student-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.student-table tr:hover {
    background-color: #f1f1f1;
}

.div-border{
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid red;
}

form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-button:hover {
    background-color: #0056b3;
}