* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos para a página principal dos conteudos do site */
/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #0056b3;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

h3 {
    margin-top: 20px;
    font-size: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#texto, #curiosidades {
    margin-bottom: 40px;
}

.paragrafo {
    margin: 10px 0;
    line-height: 1.6;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transition: visibility 0s, opacity 0.5s linear;
}

#toast.show {
    visibility: visible;
    opacity: 1;
}

#toast.hide {
    visibility: hidden;
    opacity: 0;
}

#clock {
    font-size: 48px;
    padding: 20px;
    border: 2px solid #61dafb;
    border-radius: 10px;
    background-color: #20232a;
    color: #fff;
}